<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="scc/styles.css">
    <title>Registration</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Заявки</h2>

                <div class="card" style="padding: 1rem; margin: 1rem 0;">
                    <div
                        style="display:flex; flex-direction: row; justify-content: space-between; align-items: center;">
                        <section style="display:flex; flex-direction: row;">
                            <p>Номер заявки: </p>
                            <p style="font-size: large; font-weight: 900; margin-left: 0.5rem;">3355225</p>
                        </section>

                    </div>
                    <section style="display:flex; flex-direction: row;">
                        <p>Имя собственника: </p>
                        <p style="font-size: large; font-weight: 900; margin-left: 0.5rem;">Лукашенко Иван Иванович</p>
                    </section>
                    <section style="display:flex; flex-direction: row;">
                        <p>Имя мигранта: </p>
                        <p style="font-size: large; font-weight: 900; margin-left: 0.5rem;">Лукашенко Иван Иванович</p>
                    </section>

                    <div class="form-group" style="margin-top: 1rem;">
                        <input type="submit" name="submit" class="btn btn-primary" value="Взять в работу">
                    </div>
                </div>

            </div>

        </div>
    </div>
</body>

</html>